@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>
	<a href="/" class="btn btn-primary my-2">Blazor WASM</a>
	<a href="/mvc" class="btn btn-secondary my-2">Razor Pages</a>
	<a href="/dotvvm" class="btn btn-secondary my-2">DotVVM</a>
</p>
